<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour= "{{devoured}}">
		{{#if devoured}}CHOW TIME!{{else}}NO BURGER FOR YOU!{{/if}}
	</button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
